<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Helix 404</title>
	
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Theme CSS-->
	<link rel="stylesheet" href="assets/css/style.css">


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<!-- Navigation-->
	<div class="helix-navigation navigation-full">
		<div class="container-fluid navbar">
			<div class="nav-top-bar clearfix">
				<div class="short-info">
					<h4>Hello guest! Welcome to helix yoga club</h4>
					<h4><a href="#">Special Offers</a></h4>
				</div>
				<div class="social-media">
					<ul>
						<li><a href="#"><i class="ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
						<li><a href="#"><i class="ion-email"></i></a></li>
					</ul>
				</div>
			</div>
			<nav class="main-nav clearfix">
				<div class="logo-wrapper">
					<a href="index.html" class="logo">Helix</a>
				</div>
				<ul id="main-menu">
					<li class="menu-item">
						<a href="index.html">Home</a>
					</li>
					<li class="menu-item dropdown">
						<span>Classes</span>
						<ul class="submenu first-submenu">
							<li><a href="class-grid.html">Class Grid</a></li>
							<li><a href="class-list.html">Class List</a></li>
							<li><a href="class-sidebar.html">Class Sidebar</a></li>
							<li><a href="class-detail.html">Class Detail</a></li>
						</ul>
					</li>
					<li class="menu-item">	
						<span>Events</span>
						<ul class="submenu first-submenu">
							<li><a href="event-grid.html">Event Grid</a></li>
							<li><a href="event-list.html">Event List</a></li>
							<li><a href="event-sidebar.html">Event Sidebar</a></li>
							<li><a href="event-detail.html">Event Detail</a></li>
						</ul>
					</li>
					<li class="menu-item">
						<span>Blog</span>
						<ul class="submenu first-submenu">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-detail.html">Blog Detail</a></li>
						</ul>
					</li>
					<li class="menu-item">
						<span>Shop</span>
						<ul class="submenu first-submenu">
							<li><a href="shop.html">Shop</a></li>
							<li><a href="shop-detail.html">Shop Details</a></li>
							<li><a href="cart.html">Cart</a></li>
							<li><a href="checkout.html">Checkout</a></li>
						</ul>
					</li>
					<li class="menu-item">
						<span class="active">Pages</span>
						<ul class="submenu first-submenu">
							<li><a href="trainer.html">Trainer</a></li>
							<li><a href="404.html">404 Page</a></li>
							<li><a href="schedule.html">Schedule</a></li>
							<li><a href="pricing.html">Pricing</a></li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
				<div class="pull-right">
					<div id="search-bar">
						<form action="#" class="search-form">
							<button><i class="ion-ios-search-strong"></i></button>
							<input type="search" name="search" placeholder="I'm looking for...">
						</form>
					</div>
					<button id="menu-toggle">
						<i class="ion-android-menu"></i>
					</button>
					<button id="search-toggle">
						<i class="ion-ios-search-strong"></i>
					</button>
				</div>
			</nav>
		</div>
	</div>


	<!-- 404 Page -->
	<div class="helix-404-page-wrapper">
		<div class="container">
			<div class="row clearfix">
				<div class="number">
					<h2>4</h2>
					<img src="http://placehold.it/105x112" alt="">
					<h2>4</h2>
				</div>
				<div class="info-block">
					<h2>Opps! Seems like the page is missing</h2>
					<p>Sorry but somthing goes wrong here. The page you are looking for does not exists for some reasons. <a href="index.html">Please go back to homepage</a>. Thank you!</p>
					<div class="line"></div>
					<p>or using search form below</p>
				</div>
				<form action="#" name="seach-404" >
					<div class="field">
						<input type="search" name="search" placeholder="Enter your keyword here to search">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- prefooter -->
	<div class="helix-prefooter-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-xs-6 helix-offer">
					<div class="offer-details">
						<h3>Sale up to 40%</h3>
						<p>Vivamus consequat, felis at aliquam elementum</p>
						<a href="shop-detail.html" class="btn btn-min btn-solid">Take a Look</a>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 helix-product clearfix">
					<div class="img-wrapper">
						<img src="http://placehold.it/150x155" alt="" class="img-responsive">
					</div>
					<div class="product-detail">
						<a href="shop-detail.html"><h3>Yoga kit blue</h3></a>
						<h4>$8.99</h4>
						<a href="#" class="link-btn">Shop Now<i class="ion-arrow-right-c"></i></a>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 helix-product clearfix">
					<div class="img-wrapper">
						<img src="http://placehold.it/150x155" alt="" class="img-responsive">
					</div>
					<div class="product-detail">
						<a href="shop-detail.html"><h3>Black mat bag</h3></a>
						<h4>$29.00</h4>
						<a href="#" class="link-btn">Shop Now<i class="ion-arrow-right-c"></i></a>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 helix-product clearfix">
					<div class="img-wrapper">
						<img src="http://placehold.it/150x155" alt="" class="img-responsive">
					</div>
					<div class="product-detail">
						<a href="shop-detail.html"><h3>Starter set kit</h3></a>
						<h4>$29.00</h4>
						<a href="#" class="link-btn">Shop Now<i class="ion-arrow-right-c"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div class="helix-footer-wrapper">
		<div class="container footer">
			<div class="row">
				<div class="col-sm-3">
					<div class="footer-widget about">
						<h4 class="title">About Helix</h4>
						<ul class="contact-details">
							<li class="clearfix"><i class="ion-ios-location-outline"></i><p>45th Collingwood Street <br/> Victoria, 3066</p></li>
							<li class="clearfix"><i class="ion-information"></i><p>(+064)-342-67379 <br/> info@helixyogaclub.com <br/> http://helixyogaclub.com</p></li>
						</ul>
						<ul class="social-media">	
							<li><a href="#" class="color-one"><i class="ion-social-facebook "></i></a></li>
							<li><a href="#" class="color-two"><i class="ion-social-twitter"></i></a></li>
							<li><a href="#" class="color-three"><i class="ion-social-googleplus "></i></a></li>
							<li><a href="#" class="color-four"><i class="ion-social-instagram "></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget">
						<h4 class="title">Twitter</h4>
						<div id="helix-twitter"></div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widgetx">
						<h4 class="title">Instagram</h4>
						<ul id="helix-instafeed" class="clearfix"></ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget newsletter">
						<h4 class="title">Subcribe</h4>
						<p>Tellus aliquam at. Pellentesque gravida vel eros et pretium</p>
						<form action="#">
							<div class="field">
								<input type="text" name="name" placeholder="Enter your name">
							</div>
							<div class="field">
								<input type="email" name="email"  placeholder="Enter your email">
							</div>
							<button class="btn btn-min btn-solid">Subsmit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="multicolor-line"></div>
		<div class="container footer-bar">
			<div class="row">
				<div class="col-md-6">
					<p class="copyright">&copy; 2016 Helix. All rights reserved. Designed with  <i class="ion-heart"></i>  by <span>leehari</span> &amp; <span>kemoboy</span></p>
				</div>
				<div class="col-md-6">
					<ul class="footer-menu">
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Java Scripts -->
	<script type="text/javascript" src="assets/js/jquery2.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/twitterFetcher.js"></script>
	<script type="text/javascript" src="assets/js/moment.js"></script>
	<script type="text/javascript" src="assets/js/instafeed.min.js"></script>
	<!-- Theme Script -->
	<script type="text/javascript" src="assets/js/js.js"></script>
	
</body>
</html>